.banner img{
    width: 1110px;
    height: 250px;

}
.banner-image img{
    width: 250px;
}
.banner-info{
    margin: 0px;
}
.footer-icon{
    font-size: 30px;
}
.footer-icon a{
    margin: 10px;
}
.footer-icon .twitter{
    color: 	#1DA1F2;
}
.footer-icon .facebook{
    color: #3b5998;
}
.footer-icon .youtube{
    color: #c4302b;
}